
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is a Admin Area. Index View, Home Controller</h1>
        @Html.ActionLink("Delete", "Delete", "Products") <br />
        @Html.RouteLink("Go To Main Page", "Default",new {action="Index", controller="Home"})

    </div>
</body>
</html>
