@model IEnumerable<Lesson_1_1.Models.Product> 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        td {
            border:groove 1px black;
        }
    </style>
</head>
<body>
    <div> 
        <h1>Products</h1>
        <table>
            <tr>
                <th>Product</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    
                </tr>
               
            }
        </table>
        
           

           

        
    </div>
</body>
</html>
