
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Index</h1>
        <h4>@Html.RouteLink("AdminArea", new {action="Index",controller="Home", area ="Admin" })</h4>
        @Html.ActionLink("About", "About") | @Html.ActionLink("Contacts", "Contacts")

    </div>
</body>
</html>
