
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <h1>This is a Admin Area. Create View, Home Controller</h1>
    </div>
</body>
</html>
