
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Controller: CalcController</h1>
        <h2>View: Index</h2>
        @Html.ActionLink("Add result", "Add", "Calc", new { x = 10, y = 20 }, null) <br/>
        @Html.ActionLink("Mul result", "Mul", "Calc", new { x=5, y=5}, null) <br />
        @Html.ActionLink("Sub result", "Sub", "Calc", new { x = 20, y = 54 }, null)


    </div>
</body>
</html>
