
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mul</title>
</head>
<body>
    <div> 
        <h1>Controller: Calc</h1>
        <h2>View: Mul</h2>
        <h3>Result: x=@ViewBag.X; y=@ViewBag.Y Result = @ViewBag.Result</h3>
    </div>
</body>
</html>
