<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>It's Layout Page</h1>
        <ul class="menu">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>Products</li>
            <li>Services</li>
            <li>About</li>
        </ul>
    </header>


    <div>
        @RenderBody()
    </div>
</body>
</html>
